
<div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Get Data From BTN</nb-card-header>
        <nb-card-body>
      
            
            <!-- <div class="form-group col">
                <div class="col-sm-3">
                        <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
                            </ngb-datepicker>
                            
                            <ng-template #t let-date="date" let-focused="focused">
                              <span class="custom-day"
                                    [class.focused]="focused"
                                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                              </span>
                            </ng-template>
                            <hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>
                        
        </div>
            </div> -->

            <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>From Date</label>
                        <input type="date" class="form-control" id="inputFromDate" placeholder="yyyy-mm-dd" [(ngModel)]="dateFrom">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label >To Date</label>
                        <input type="date" class="form-control" id="inputToDate" placeholder="yyyy-mm-dd" max = 'today' [(ngModel)]="dateTo">
                      </div>
                    </div>
                  </div>
            

                  <div class="row justify-content-center">
            <div class="form-group">
              <div class="col-xl-4">
               <button type="submit" class="btn btn-primary"  id="btnPK" (click)="getData('SOAP_CUSTOMERs/getListBTNConsumerPKfromto')" [disabled]="onProcess">Get PK</button>
                </div>
              </div>
              <div class="form-group">
                  <div class="col-xl-4">
                   <button type="submit" class="btn btn-primary" id="btnSP3K" (click)="getData('SOAP_CUSTOMERs/getListBTNConsumerSP3Kfromto')" [disabled]="onProcess">Get SP3K</button>
                    </div>
                  </div>
                  </div>
      
        </nb-card-body>
      </nb-card>
